#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected-team {
  border-color: #646cff;
}

.match {
  display: grid;
  grid-template-columns: 100px auto auto auto;
}

.home-team {
  text-align: left;
}

.location {
  text-align: center;
}

.away-team {
  text-align: right;
}
